.container-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    background-color:olive;
    
    h3{
        font-size: 2.5rem;
        color: var(--roxo);
        text-shadow: 0.3rem 0.3rem 1px rgb(0 0 0 / 50%);
    }
    .container-projects{
        display: flex;
        justify-content: space-around;
        // padding: 5px;
        align-items: center;
        background-color:  blueviolet;margin: 5px;
        width: 100%;
        height: 450px;
        .project-descrition{
            border: solid 2px white;
            width: 250px;
            height: 300px;
        }
    }
}