.container-header {
  z-index: 99;
  height: 100px;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content:center ;
  min-width: 700px;
  padding: 3px;
  width:  100%;
  
  nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1270px;
    justify-content: center;  
  }
  
  .navegation {
    display: flex;
    // justify-content: center;
    text-transform: uppercase;
    list-style: none;
    padding: 10px;
   

    li a {
      margin-right: 15px;
      list-style: none;
      font-size: 2rem;
      color: var(--branco);
      text-shadow: 0.2rem 0.2rem 2px rgb( 51 175 175 / 60%);
      font-weight: 600;
      text-decoration: none;
      padding: 8px;
      &:hover {
        // border-radius: 5px;
        color: var(--azul);
        text-shadow: none;
        border-bottom: solid 3px var(--branco);
        padding: 8px;
      }
    }
  }

}
